body{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-content: center;
    justify-content: center;

    -webkit-tap-highlight-color: transparent;


    padding: 0;
    margin: 0; /* Often needed in conjunction with padding: 0; */

    display: flex;
    }

    a {
        text-decoration: none;
      }


.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.material-symbols-rounded {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }



.container{
    width: auto;
    height: auto;
    margin-top: 250px;
    background-color: rgb(255, 255, 255);

    .icon-container{
        width: 100px;
        height: 100px;
        background-color: #e0ffd4;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;

        .material-symbols-rounded{
            font-size: 80px;
            color: #36ca00;
        }
    }

    .title{
        margin-top: 6px;
        font-family: "Inter", sans-serif;
        text-align: center;
        font-size: 26px;
        font-weight: 750;
    }

    .backButton{
        margin-top: 260px;
        width: 120px;
        height: 46px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 100px;
        background-color: #e3e3e3;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.26s;
        
        .details{
            font-family: "Inter", sans-serif;
            text-align: center;
            color: #000000;
            font-size: 14px;
            font-weight: 500;
        }
    }

    .backButton:hover{
        transform: scale(0.96);
        background-color: #000000;

        .details{
            color: white;
        }
    }
}